body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero{
    background-image: url("bg-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;
}

#gradient-hero{
    background-color: rgba(0, 0, 0, 0.7);
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 70vw;
    position: relative;
    z-index: 1;
}

#netflix-logo{
    width: 10vw;
    height: 10vh;
}

#signin-btn{
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#hero-text{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 4px black;
    max-width: 90vw;
    margin: auto;
    padding-top: 80px;
    font-size: x-large;
}

#hero-input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#hero-title{
    font-weight: 800;
}

#hero-desc, #enter-email-text{
    font-size: larger;
}

#email-input{
    margin: 3px;
    border: 1px solid white;
    background-color: rgb(0, 0, 0, 0.4);
    width: 400px;
    padding: 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 0 4px black;
    border-radius: 3px;
    font-size: large;
}

#getstarted-btn{
    margin: 5px;
    background-color: red;
    font-weight: 600;
    padding: 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#signin-btn:hover, #getstarted-btn:hover {
    background-color: darkred;
}

.font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#enjoy-tv-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
}

hr{
    background-color: rgb(73, 73, 73);
    height: 6px;
    border: none;
}

#enjoy-portion-text, #download-shows-text, #watch-shows-text, #kids-text{
    color: white;
    text-align: left;
    max-width: 30vw;
    font-size: x-large;
}

#enjoyontv{
    font-weight:900;
}

#enjoy-portion-video{
    position: relative;
}

#enjoy-portion-video img{
    position: relative;
}

#enjoy-portion-video video{
    position: absolute;
    top: 100px;
    right: 75px;
    z-index: -1;
}

#download-shows-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

#download-shows-container img{
    height: 380px;
}

#download-shows-text{
    max-width: 40vw;
}

#watch-shows-text{
    max-width: 25vw;
}

#download-shows-h1, #watch-shows-text h1, #kids-text h1{
    font-weight: 850;
}

#kids-text{
    max-width: 40vw;
}

#watch-shows-container{
    display: flex;
    justify-content: start;
    margin-left: 20vw;
    align-items: center;
    height: 60vh;
}

#kids-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

#kids-img{
    width: 500px;
}

#enter-email-text2{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 0 4px black;
    max-width: 90vw;
    margin-top: 40px;
    font-size: x-large;
}

#faq-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

#faq-container > #hero-input{
    margin: 0px auto 50px auto;
}
.faq-content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 42, 42);
    margin: 4px 10px;
    padding: 30px 30px;
    width: 70vw;
    align-items: center;
    font-size: x-large;
}

.faq-content:hover{
    background-color: rgb(31, 31, 31);
    cursor: pointer;
}


#faq-h1{
    font-size:45px;
    font-weight: 900;
}


#questions{
    display: block;
    color: white;
    margin-left: 50px;
}

#footer-web{
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 70px;
    grid-auto-columns: 70px;
    text-align: center;
    margin: 50px auto;
    justify-content: center;
    align-items: center;

}

#footer-web> a{
    color: white;
}


